.navArea{
    position:fixed;
    z-index: 1000;
    margin-top: 3.0rem;
    float: left;
    background-color: #343a40;
    display: inline-block;
    color: #868e96;
    font-size: 1rem;
    line-height: 3.0rem;
    width: 17%;
    height: 100%;
    transition: background-color 0.3s;
    text-decoration: none;
}

.navArea-collapsed{
    position:fixed;
    z-index: 1000;
    margin-top: 3.0rem;
    float: left;
    background-color: #343a40;
    display: inline-block;
    color: #868e96;
    /*font-size: 1rem;*/
    line-height: 3.0rem;
    width: 5%;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.navItem{
    padding-left: 2%;
    color: #868e96;
    cursor: pointer;
}

.subItem{
    padding-left: 10%;
    font-size: 0.8rem;
}

.navItem:hover {
    color: white;
    background-color: #495057;
}

.navItem:active, .menu-item.active {
    background-color: #1862ab;
}